/* style.css */

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: rgb(198, 196, 196);
}

.main-title {
    display: block;
    text-align: center;
    background-color: lightsalmon;
    width: 300px;
    margin: 16px auto;
    border: 2px solid rgb(235, 96, 50);
}

.recipe-main-image,
.recipe-step-image {
    height: auto;
    border: 2px solid black;
}

.recipe-main-image {
    width: 500px;
}

.recipe-step-image {
    width: 300px;
}